/* ROOT VARIABLES/CUSTOMIZATION */

* {
  font-size: 16px;
  position: relative;
  --theme-blue: #3535a7;
  --border-radius-big: 20px;
  --border-radius-small: 5px;
}

body {
  height: 100vh;
}

.user_scrollable {
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1;
  height: calc(100vh - 3.5rem);
}

/* HEADER */

.header {
  height: 3.5rem;
  background-color: var(--theme-blue);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 8px 12px;
}

.header_title,
.header_credits {
  color: rgb(252, 255, 215);
}

.header_title {
  font-weight: 500;
  font-size: 1.75rem;
}

/* USER GUIDE COMPONENT */

.guide {
}

.guide_title {
  font-size: 1.25rem;
  text-align: center;
  padding: 1rem 1rem 0.5rem 1rem;
}

.guide_instructions {
  list-style-type: decimal;
  padding: 0 2rem;
}

.guide_instruction {
  list-style-type: decimal;
}

.input_manager {
  border: 1px solid darkgrey;
  border-radius: var(--border-radius-big);
  width: 70%;
  height: fit-content;
  padding: 1rem;
  margin: 1rem auto;
}

.new_input-button,
.generate_pdf,
.reset_all {
  height: 40px;
  margin: 0 10px;
  padding: 10px 20px;
}

/* INPUT POPUP */
.input_popup {
  width: 100%;
  height: fit-content;
  padding: 30px 40px;
  background-color: white;
  border: 1px solid darkgrey;
  border-radius: var(--border-radius-big);
}

.options {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.popup_option {
  border: 1px solid lightgrey;
  border-radius: var(--border-radius-big);
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 10;
}

.option_title {
  font-size: 1.25rem;
  padding-bottom: 1rem;
}

#file_input {
  padding: 10px;
  width: 80%;
}

#file_input:focus {
  border: 2px var(--theme-blue) solid;
  border-radius: var(--border-radius-big);
}

.or {
  text-align: center;
  font-weight: 600;
  flex: 2;
}

#paste_input {
  padding: 10px;
  border: 1px darkgrey solid;
  border-radius: var(--border-radius-small);
  width: 80%;
  text-align: center;
}

#paste_input:focus {
  outline: none;
  border: 2px var(--theme-blue) solid;
}

.input_cancel {
  width: 100%;
  height: 30px;
  padding: auto;
  margin-top: 20px;
}

/* IMAGE PREVIEW COMPONENT */

.previews {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.preview_container {
  height: 150px;
  width: 100px;
  border: 1px solid lightgrey;
  border-radius: var(--border-radius-small);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.preview_image {
  width: 100%;
  height: auto;
}


.pdf_wrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  justify-content: center;align-items: flex-start;
}

.pdf_button-reset{
  margin: auto;
  width: 20%;
  height: 50px;

}